/* Reset margins and paddings, set default font */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --background-color: white;
    --text-color: #081b29;
}
.dark-theme{
    --background-color: #081b29;
    --text-color: lightblue;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.6s, color 0.6s;
}

/* Full-page layout with dark background */
.page {
    position: relative;
    padding: 0 8%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* Navigation bar styling */
nav {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

/* Navigation list items */
nav ul {
    width: 100%;
    list-style: none;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    margin: 5px 15px;
}

/* Navigation links */
nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

/* Navigation link hover effect */
nav ul li a:hover {
    color: lightblue;
}

.toggle-btn{
    background: var(--text-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.blog-section {
    padding: 20px;
}

.blog-post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: var(--background-color);
}

.blog-post h2 {
    margin-bottom: 10px;
}

.blog-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: lightblue;
}

/* Container for footer content */
.footerContainer {
    width: auto;
    padding: 30px 30px 20px;
}

/* Social icons container */
.socialIcons {
    display: flex;
    justify-content: center;
}

/* Social icon links */
.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #081b29;
    margin: 10px;
    border-radius: 50%;
}

/* Social icon styling */
.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

/* Social icon hover effect */
.socialIcons a:hover {
    background-color: lightblue;
    transition: 0.2s;
}

/* Footer bottom section styling */
.footerBottom {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/* Footer bottom text styling */
.footerBottom p {
    color: #081b29;
}
